body {
    background-color: lightgray;
}

#title {
    text-align: center;
}

#heading {
    display: flex; 
    align-items: center; 
    gap: 600px;
}

#nav-bar {
    background-color: darkgray;
    text-align: center;
}

#nav-bar li {
    display: inline-block;
    position: relative;
    padding: 10px;
}

#nav-bar li:hover {
    background-color: aliceblue;
    color: black;
}

#nav-bar li a {
    text-decoration: none;
    color: black;
}

#navFlights a {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

ul {
    list-style-position: inside;
}

#about {
    background-color: ivory;
    text-align: center;
    width: 1000px;
    margin-left: 270px;
    padding: 10px;
    border-radius: 10px;
}

#image1 {
    text-align: center;
    width: 1000px;
    margin-left: 270px;
    padding: 10px;
    border-radius: 10px;
}

#values {
    background-color: ivory;
    text-align: center;
    width: 1000px;
    margin-left: 270px;
    padding: 10px;
    border-radius: 10px;
}

#image2 {
    text-align: center;
    width: 1000px;
    margin-left: 270px;
    padding: 10px;
    border-radius: 10px;
}

#contact {
    background-color: ivory;
    text-align: center;
    width: 1000px;
    margin-left: 270px;
    padding: 10px;
    border-radius: 10px;
}