body {
    background-color: lightgray;
}

#title {
    text-align: center;
}

#heading {
    display: flex; 
    align-items: center; 
    gap: 600px;
}

#nav-bar {
    background-color: darkgray;
    text-align: center;
}

#nav-bar li {
    display: inline-block;
    position: relative;
    padding: 10px;
}

#nav-bar li:hover {
    background-color: aliceblue;
    color: black;
}

#nav-bar li a {
    text-decoration: none;
    color: black;
}

#navFlights a {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

ul {
    list-style-position: inside;
}

#instructions {
    background-color: ivory;
    text-align: center;
    width: 600px;
    padding: 10px;
    margin-left: 460px;
    margin-top: 50px;
    border-radius: 10px;
}

#calculationForm {
    background-color: ivory;
    text-align: center;
    width: 700px;
    padding: 10px;
    margin-left: 400px;
    margin-top: 50px;
    border-radius: 10px;
}

#submitButton {
    background-color: darkgray;
    color: white;
    width: 75px;
    height: 30px;
    border-radius: 20px;
    border: solid black 2px;
}

#arrivalInfo:not(:empty) {
    background-color: ivory;
    text-align: center;
    width: 700px;
    padding: 10px;
    margin-left: 400px;
    margin-top: 50px;
    border-radius: 10px;
}