body {
    background-color: lightgray;
}

#title {
    text-align: center;
}

#heading {
    display: flex; 
    align-items: center; 
    gap: 600px;
}

#nav-bar {
    background-color: darkgray;
    text-align: center;
}

#nav-bar li {
    display: inline-block;
    position: relative;
    padding: 10px;
}

#nav-bar li:hover {
    background-color: aliceblue;
    color: black;
}

#nav-bar li a {
    text-decoration: none;
    color: black;
}